In [1]:
#Rai Adeel Jahanzeb Khan

In [2]:
#Question no.1

In [3]:
print("Date Time Function:")
import datetime
def greet_with_time(name):
    current_time = datetime.datetime.now()
    print(f"Hello,{name}! The current time is {current_time}.")
greet_with_time("Rai")

Date Time Function:
Hello,Rai! The current time is 2024-11-28 22:51:12.366039.

In [4]:
#Question no.2

In [5]:
print("\nFunction with Multiple Parameters:")
def calculate_average(num1, num2, num3):
    average = (num1 + num2 + num3) / 3
    return average
result = calculate_average(10, 20, 30)
print(f"The average is: {result}")

Function with Multiple Parameters:
The average is: 20.0

In [6]:
#Question no .3

In [7]:
print("\nDefault Argument:")
def calculate_discount(price, discount_percentage=10):
    discounted_price = price - (price * discount_percentage / 100)
    return discounted_price
original_price = 1000
discounted_price = calculate_discount(original_price)
print(f"The discounted price is: {discounted_price}")
discounted_price_custom = calculate_discount(original_price, 20)
print(f"The discounted price with a 20% discount is: {discounted_price_custom}")

Default Argument:
The discounted price is: 900.0
The discounted price with a 20% discount is: 800.0

In [8]:
#Question no .4

In [9]:
print("\nKeyword Arguments:")
def print_info(*, name, age, city):
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"City: {city}")
print_info(name="Rai", age=19, city="Lahore")

Keyword Arguments:
Name: Rai
Age: 19
City: Lahore

In [10]:
#Question no .5

In [11]:
print("\nVariable-Length Arguments:")
def find_max(*args):
    if not args:
        return None
    return max(args)
max_value = find_max(10, 20, 30, 5, 40)
print(f"The maximum value is: {max_value}")
no_value = find_max()
print(f"The result with no arguments is: {no_value}")

Variable-Length Arguments:
The maximum value is: 40
The result with no arguments is: None

In [12]:
#Question no .6

In [13]:
print("\nRecursive Function:")
def factorial(n):
    if n == 0 or n == 1:  
        return 1
    else:
        return n * factorial(n - 1)  
print(factorial(8))

Recursive Function:
40320

In [14]:
#Question no.7

In [15]:
print("\nFunction as an Argument:")
def apply_function(func, numbers):
    return [func(num) for num in numbers]
def square(x):
    return x * x
nums = [1, 2, 3, 4, 5]
squared_nums = apply_function(square, nums)
print(squared_nums)

Function as an Argument:
[1, 4, 9, 16, 25]

In [16]:
#Question no .8

In [17]:
print("\nLambda Functions:")
square = lambda x: x * x
result = square(5)
print(result)

Lambda Functions:
25

In [18]:
#Question no.9

In [19]:
print("\nHigher-Order Functions:")
#Higher-order Function
def apply_operation(func, numbers):
    return [func(num) for num in numbers]
result = apply_operation(lambda x: x ** 2, [1, 2, 3, 4])
print(result)

Higher-Order Functions:
[1, 4, 9, 16]